<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Home</title>
</head>
<body>
    <div class="container">
        <h1>Spring Boot Blog Application</h1>
        <hr/>
        <ul>
            <li>
                <a th:href="${'/post/new'}">New Post</a>
            </li>
        </ul>

        <div class="posts-container">
            <div class="post" th:each="post : ${posts}">
                <h2><a th:href="@{'/post/' + ${post.id}}"
                        th:text="${post.title}">Title</a>
                </h2>
                <h5 th:text="'Wirtten by ' + ${post.getAuthor()}">Account First Name</h5>
                <h5 th:text="'Published On ' + ${post.createTime}">
                    Created At
                </h5>
                <p th:text="${post.body}">Body Text</p>
                <br/>
            </div>
        </div>
        <ul sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/register}">Register</a> </li>
            <li><a th:href="@{/login}">Login</a> </li>
        </ul>
        <div sec:authorize="isAuthenticated()">
            <form action="#"
                  th:accept="@{/logout}"
                  method="POST">
                <div>
                    <label>Hi, <span sec:authentication="name">Username</span> </label>
                </div>
            </form>
        </div>
    </div>
</body>

</html>