<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Post</title>
</head>
<body>
    <div class="container">
        <a href="/">Home</a>
        <div class="container-row">
            <div class="col-md-8">
                <div class="post">
                    <h2 class="text-center" th:text="${post.getTitle()}">Title</h2>
                    <h5 th:text="'Wirtten by ' + ${post.getAuthor()}">Account First Name</h5>
                    <h5 class="text-muted" th:text="${post.getCreateTime()}">Created At</h5>
                    <p th:text="${post.getBody()}">Body</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>